{% load static %}
<!DOCTYPE html>
<html>

<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<title>> Brother-InCode</title>
	<link rel="stylesheet" href="{% static '../static/css/estilos.css' %}" media="screen">
	<script>
		function clearInput(element) {
			element.placeholder = "";
		}
	</script>
</head>

<body>
	<div class="logo" style="text-align: center; margin-left: 27%;">
		<a href="{% url 'lista_tutores' %}"> Brother-InCode</a>
	</div>
	<div id="LoginTela">
		<div class="logo" style="padding: 15px 50px;">
			> Cadastro
		</div>
		<form action="" method=POST>
			{% csrf_token %}
			<div>
				<input type="text" name="nome" placeholder="Nome">
			</div>
			<div>
				<input type="email" name="email" placeholder="Email">
			</div>
			<div>
				<input type="text" name="username" placeholder="UserName">
			</div>
			<div>
				<input type="password" name="password" placeholder="Senha">
			</div>
			<div style="margin-left: 15%; font-size: medium;">
				<input type="radio" name="tutor" id="">Tutor
			</div>
			<div style="margin-left: 15%; font-size: medium;">
				<input type="radio" name="aluno" id="">Aluno
			</div>
			<div>
				<input id="entrarLogin" type="submit" name="submit" value="Registrar">
			</div>
		</form>
		<div id="divisor"></div>
		<div id="preregister" style="color: black; margin-top: 2%;">
			Já é cadastrado?
			<a href="{% url 'login' %}">Logue Aqui</a>
		</div>
	</div>
</body>

</html>