{% load static %}
<!DOCTYPE html>
<html>

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>> Brother-InCode</title>
  <link rel="stylesheet" href="{% static '../static/css/estilos.css' %}" media="screen">
</head>

<body>
  <div id="container">
    <div>
      <div class="logo">
        > Brother-InCode
      </div>
      <div id="Login">
        <a href="{% url 'login' %}">Login</a>
      </div>
      <div id="topo-menu">
        <ul style="list-style: none; margin: 0; padding: 0;">
          <li><a href="{% url 'lista_tutores' %}"><img src="../static/img/image 4.png" class="icone"> Orientações</a>
          </li>
          <li><a href="{% url 'quem-somos' %}"><img src="../static/img/image 2.png" class="icone"> Quem somos</a></li>
          <li><a href="" class="selected"><img src="../static/img/image 3.png" class="icone"> Tutorias</a></li>
          <li><a href="{% url 'perfil_usuario' %}"><img src="../static/img/image 5.png" class="icone">
              Perfil</a>
          </li>
        </ul>
      </div>
    </div>
  </div>
  <div id="corpo">
    <div id="img-container">
    </div>
    <div id="texto-corpo">
      <h1><span class="marked">Minhas Tutorias</span></h1>
      <div class="card">
        <div class="row">
          {% for tutoria in tutorias %}
          <div class="card">
            <span class="tutorias">
              <div id="foto_card">
                <a href="#">
                  <ion-icon name="person"></ion-icon>
                </a>
              </div>
              <h1> {{ tutoria.tutor }}</h1>
            </span>

            <span class="tutorias"></span>
            <h2>Contato</h2>
            <ul>
              <li><strong>Telefone:</strong> {{ tutoria.tutor.telefone }}</li>
              <li><strong>E-mail:</strong> {{ tutoria.tutor.email }}</li>
            </ul>

            <span class="tutorias">
              <h2>Horários</h2>
              <ul>
                <li><strong>Dia:</strong> {{ tutoria.horario.dia }} ({{ tutoria.data }})</li>
                <li><strong>Horário de início:</strong> {{ tutoria.horario.hora_inicio }}</li>
                <li><strong>Horário de término:</strong> {{ tutoria.horario.hora_fim }}</li>
              </ul>
            </span>

            <span class="tutorias">
              <h2>Tópicos ensinados</h2>
              <ul>
                <li>{{ tutoria.area_do_conhecimento }}</li>
              </ul>
            </span>

            <span class="tutorias">
              <h2>Link de Reunião</h2>
              <div id="foto_card">
                <a href="{{ tutoria.link }}">
                  <ion-icon name="chatbubbles-outline"></ion-icon>
                </a>
              </div>
            </span>
          </div>
          {% endfor %}

        </div>
      </div>
    </div>
    <script type="module" src="https://unpkg.com/ionicons@7.1.0/dist/ionicons/ionicons.esm.js"></script>
    <script nomodule src="https://unpkg.com/ionicons@7.1.0/dist/ionicons/ionicons.js"></script>
</body>

</html>
